@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Metal+Mania&family=Nosifer&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  background-color: black;
} */

#header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 70px;
  font-family: Poppins;
  font-weight: bolder;
  color: #FF0000;
}

#header button{
  height:70px;
  width:260px;
  border: 2px solid #1A227F;
  border-radius:50px;
  background-color: rgb(71, 71, 71);
  color:rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
}

#question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

#question-box{
  height:500px;
  width: 900px;
  background-color: #1A227F;
  border: 2px solid #3949AC;
  border-radius: 2%;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#question-box #span{
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: flex-end;
}

#question-box p{
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

#question-box button{
  height: 50px;
  width: 590px;
  margin-top: 10px;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 20px;
  cursor:pointer;
}


#forhighlight{
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
  align-items: center;
}

#forhighlight button{
  height: 60px;
  width:260px;
  border-radius: 50px;
  /* border: none; */
  border: 2px solid #1A227F;
  background-color: #3949AC;
  font-family: Poppins;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

#result-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 670px;
  background-color: #1A227F;
  border: 1px solid #3949AC;
  border-radius: 25px;
  margin-top: 80px;
}

#results p{
  color: white;
  font-size: 80px;
  font-weight: 900;
  font-family: Poppins;
}

#results span{
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-family: Poppins;
}

#results h1{
  color: white;
  font-size: 100px;
  font-weight: 500;
  font-family: Poppins;
}

#restart-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#restart-btn button{
  text-align: center;
  height: 63px;
  width: 230px;
  background-color: #3949AC;
  color:white;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  border: 2px solid #1A227F;
  border-radius:25px;
}